In [24]:
from sklearn.linear_model import LinearRegression
import tushare as ts
df = ts.get_hist_data("601398")

In [8]:
df.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-04-22,5.99,6.00,5.83,5.81,2731242.50,-0.15,-2.51,5.952,5.856,5.732,3179236.05,2915893.46,3190728.34
2019-04-19,5.94,6.01,5.98,5.94,1845142.25,0.04,0.67,5.948,5.855,5.720,3579982.45,3072136.56,3149786.24
2019-04-18,6.01,6.03,5.94,5.93,2164784.00,-0.07,-1.17,5.898,5.838,5.700,3518181.52,3340076.29,3173315.84
2019-04-17,5.99,6.08,6.01,5.96,3642939.00,0.01,0.17,5.856,5.814,5.684,3519477.42,3449884.61,3183199.14
2019-04-16,5.78,6.03,6.00,5.75,5512072.50,0.19,3.27,5.804,5.779,5.666,3273362.22,3478066.74,3123925.73

In [14]:
X_train = [] 
y_train = [] 
for i in range ( 10 , df.shape [ 0 ]): 
    tmp = [] 
    tmp.append ( df.ix [ i ][ 'open' ]) 
    tmp.append ( df.ix [ i ][ 'high' ]) 
    tmp.append ( df.ix [ i ][ 'close' ]) 
    tmp.append ( df.ix [ i ][ 'low' ]) 
    X_train.append ( tmp ) 
    tmp = ( df.ix [ i ][ 'close' ] - df.ix [ i ][ 'open' ]) / df.ix [ i ][ 'open' ] 
    y_train.append ( tmp ) 
X_test = X_train [: 10 ]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

In [19]:
len(y_train)

600

In [27]:
df.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-04-22,5.99,6.00,5.83,5.81,2731242.50,-0.15,-2.51,5.952,5.856,5.732,3179236.05,2915893.46,3190728.34
2019-04-19,5.94,6.01,5.98,5.94,1845142.25,0.04,0.67,5.948,5.855,5.720,3579982.45,3072136.56,3149786.24
2019-04-18,6.01,6.03,5.94,5.93,2164784.00,-0.07,-1.17,5.898,5.838,5.700,3518181.52,3340076.29,3173315.84
2019-04-17,5.99,6.08,6.01,5.96,3642939.00,0.01,0.17,5.856,5.814,5.684,3519477.42,3449884.61,3183199.14
2019-04-16,5.78,6.03,6.00,5.75,5512072.50,0.19,3.27,5.804,5.779,5.666,3273362.22,3478066.74,3123925.73

In [25]:
X_train[:10]

[[5.85, 5.98, 5.82, 5.78],
 [5.7, 5.83, 5.81, 5.69],
 [5.6, 5.71, 5.7, 5.6],
 [5.66, 5.7, 5.66, 5.64],
 [5.59, 5.66, 5.64, 5.59],
 [5.47, 5.58, 5.57, 5.46],
 [5.49, 5.5, 5.45, 5.44],
 [5.46, 5.54, 5.51, 5.45],
 [5.49, 5.49, 5.45, 5.43],
 [5.53, 5.55, 5.47, 5.46]]

In [26]:
y_train[:10]

[-0.005128205128205019,
 0.019298245614034988,
 0.017857142857142953,
 0.0,
 0.008944543828264727,
 0.018281535648994613,
 -0.007285974499089259,
 0.009157509157509125,
 -0.007285974499089259,
 -0.01084990958408689]

In [22]:
linreg = LinearRegression() 
linreg.fit( X_train , y_train )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
y_pred = linreg.predict( X_test ) 
print ( y_pred )

[-0.00461759  0.01862084  0.01682816 -0.00028103  0.00819028  0.01703901
 -0.0067524   0.00844903 -0.00670531 -0.00993229]